.container{
    height: 85%;
    background-color: rgb(57, 57, 59)
} 

i{
    padding-right: .3rem;
}  

.mat-nav-list a{
    color: white;
}

mat-sidenav{
    background-color: rgb(117, 116, 116);
   
}

