.content{
    width: 90%;
    margin: 1.4rem auto;

}

.title{
    text-align: center;
    margin-bottom: 3rem;
}

.title h1{
        font-weight: 500;
        font-size: 1.7rem;
        color: silver;


}

button{
    margin-bottom: .7rem;
}

.table{
    width: 100%;
   
}

.livros{
    color: rgb(46, 86, 197);
    margin-left: .4rem;
}

.edit{
    color: rgb(182, 182, 27);
}

.delete{
    color: rgb(219, 59, 59);
    margin-left: .5rem;
}

.mat-header{
    width: 5rem;
}

.table{
    background-color: rgb(184, 177, 177);
}

